body{
    background-color:#3598DB;
}


.homeLogo{
    position:relative;
    margin:0 auto;
    text-align:left;
    clear:left;
    height:auto;
    z-index: 0;
     width: 100px;


}

.homeLogo img {
  display: block;
  width: 100%;
  height: auto;
}


.nav{
    position: fixed;
    bottom: 10px;
    right: 0;
    width:500px;
}

.nav a{
    float:left;
}
.nav span{
    float:right;
}

.description{
    width:400px;
    position:relative;
    margin:0 auto;
    text-align:left;
    clear:left;
    height:auto;
    z-index: 0;
    font-family:arial;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}